model_config_list {
  config {
    name: 'flower_detector'
    base_path: '/models/converted_models/detection_model'
    model_platform: 'tensorflow'
  }
  config {
    name: 'small_flower_detector'
    base_path: '/models/converted_models/small_detection_model'
    model_platform: 'tensorflow'
  }
  config {
    name: 'flower_tracker'
    base_path: '/models/converted_models/tracking_model'
    model_platform: 'tensorflow'
  }
  config {
    name: 'boll_detector'
    base_path: '/models/converted_boll_models/detection_model'
    model_platform: 'tensorflow'
  }
  config {
    name: 'small_boll_detector'
    base_path: '/models/convered_boll_models/small_detection_model'
    model_platform: 'tensorflow'
  }
  config {
    name: 'boll_tracker'
    base_path: '/models/converted_boll_models/tracking_model'
    model_platform: 'tensorflow'
  }
}
